/* This used to be the best practice 
* {
    box-sizing: border-box;
} */

/* This is a somewhat newer (since 2014) practice */

html {
  box-sizing: border-box;
  /* 16px is the default for most browsers */
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* System Fonts as used by GitHub */
body {
  font-family: serif;
  margin: 0;
  padding: 0px;
  background-color: khaki;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
  background-color: orchid;
  text-shadow: 5px 5px greenyellow;
  box-shadow: 5px 5px 5px greenyellow;
  border: 5px solid grey
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

ul li {
  line-height: 1.5;
}

section {
  border-bottom: solid 1px #000;
  margin: 2rem auto;
  padding: 0 0 2rem;
}



.wrapper {
  margin: 0 auto;
  max-width: 90rem;
}

/* This is using BEM Syntax */
.wrapper--image {
  margin: auto;
  max-width: 20rem;
}

.code {
  background-color: lightgray;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.85rem;
  margin: 4px 0;
  padding: 2px;
}

footer {
  background-color: darkgray;
  color: white;
  margin: 2rem 0 0;
  padding: 1rem;
}

/* My Classes and styles */

ul li {
  line-height: 1.5;
}

.everything {
  color: red
}

.ordered-list-1 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightgreen;
  color: white
}

.box-model-list {
  color: blue;
  font-weight: bold;
}

.box-model-list li {
  line-height: 2;
}

h2 {
  background-color: orangered;
  width: 100%;
  border: 2px dotted blue;
}

ul {
  color: red;
  border: 5px solid purple;
}

img {
  border: 5px solid greenyellow;
}

h3 {
  margin: 10px auto;
  text-align: center;
  background-color: purple;
  color: white
}

h4 {
  font-weight: bold;
  background-color: aquamarine;
  color: yellow;
  text-align: center;
}

a {
  border: 3px solid red;
}

.title-section {
  width: 500px;
  margin: 10px auto;
}

article {
  margin: 20px auto;
  width: 600px;
  border: 5px solid grey;
  box-shadow: 5px 5px 20px red;
}